.Introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.IntroductionTitle {
  font-size: clamp(2.5rem, 6vw, 6rem);
  font-weight: 700;
}

.IntroductionSubtitle {
  font-size: clamp(1.3rem, 3vw, 2rem);
  font-weight: 400;
  opacity: 0.8;
  margin-top: 0.5rem;
}
