.IntroductionTitle{
   font-size: clamp(2rem, 5vw, 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2rem;
    min-height: 75px;
    border-color: rgb(0, 0, 0);
    font-style: bold;
}

#IntroductionSubtitle{
    font-size: clamp(1.2rem, 2.8vw, 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2rem;
    min-height: 50px;
}