.Introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.IntroductionTitle {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 700;
}

.IntroductionSubtitle {
  font-size: clamp(1.3rem, 3vw, 2rem);
  font-weight: 400;
  opacity: 0.8;
  margin-top: 0.5rem;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.InitialSections {
  display: flex;
}
.container {
  width: 100%;
  max-width: 1200px;
}

.Introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
}

div:has(.AboutMeButton) {
  display: flex;
  justify-content: center;
  margin-top: 60vh;
}

@media (max-width: 768px) {
  .IntroductionSubtitle {
    font-size: clamp(1.5rem, 4vw, 2.2rem);
  }
}
